.pytest_cache/
.vscode/
.idea/

Include/
Lib/
Scripts/
Share/
pyvenv.cfg

*.pyc
__pycache__/

*.bat
*.sh
*.exe
*.dll
*.zip
*.json
*.db
*.sec
*.log
*.env
*.old

# Coisas pos execucao do server uma vez
*.log
executar_katomart.bat
executar_katomart.sh
katomart.sec
pyvenv.cfg
share/
Lib/
Include/
Cursos/

servidor/dist/