beautifulsoup4==4.12.2
Brotli==1.1.0
certifi==2023.11.17
charset-normalizer==3.3.2
Flask==3.0.0
idna==3.6
m3u8==4.0.0
mutagen==1.47.0
pycryptodomex==3.19.0
requests==2.31.0
soupsieve==2.5
urllib3==2.1.0
websockets==12.0
yt-dlp>=2023.11.16
cryptography==42.0.5
