{% extends "layout.html" %}

{% block content %}
<h1 class="text-3xl font-bold text-center mb-8">
    <i class="fa-solid fa-users"></i> Gerenciar Contas das Plataformas
</h1>
<div class="flex flex-col items-center min-h-screen">
    <form id="accountForm" class="max-w-md bg-base-100 shadow-xl rounded-lg p-4 border-2 border-primary">
        <div class="form-group mb-4">
            <label for="platformSelect" class="label">
                <span class="label-text font-semibold">Plataforma:</span>
            </label>
            <select id="platformSelect" class="input input-bordered w-full">
                <option value="">Selecione uma plataforma</option>
                <!-- As opções serão preenchidas pelo JavaScript -->
            </select>
        </div>
        <div id="accountDetails" class="hidden">
            <div class="form-group mb-4">
                <label for="username" class="label">
                    <span class="label-text font-semibold">Email:</span>
                </label>
                <input type="email" id="username" class="input input-bordered w-full" required>
            </div>
            <div class="form-group mb-6">
                <label for="password" class="label">
                    <span class="label-text font-semibold">Senha:</span>
                </label>
                <input type="password" id="password" class="input input-bordered w-full" required>
            </div>
            <button type="submit" class="btn btn-primary w-full">Salvar Conta</button>
        </div>
    </form>


<table id="accountsTable" class="mb-8 bg-primary text-white" style="display: none;">
    <thead>
        <tr>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-base-100 font-semibold uppercase">Selecionar</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-base-100 font-semibold uppercase">Ativa?</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-base-100 font-semibold uppercase">Usuário</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-base-100 font-semibold uppercase">Senha</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-base-100 font-semibold uppercase">Token</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-base-100 font-semibold uppercase">Revalidar Token</th>
            <th class="px-5 py-3 border-b-2 border-gray-200 bg-base-100 font-semibold uppercase">Deletar</th>
        </tr>
    </thead>
    <tbody id="accountsTableBody">
        <!-- Linhas da tabela serão inseridas aqui via Ajax -->
    </tbody>
</table>


    <!-- Botão para inicializar a conta, inicialmente escondido -->
    <button id="initializeAccountBtn" class="btn btn-primary text-3xl font-bold text-center mb-8" onclick="initializeAccount()" style="display: none;">Inicializar Conta Selecionada</button>

</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function() {
    loadPlatforms();
    $('#platformSelect').change(function() {
        var platform = $(this).val();
        $('#accountDetails').show();
        $('#accountsTable').hide();
        $('#accountsTableBody').empty();
        $.ajax({
            url: `/api/get_accounts?platform_id=${platform}`,
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                if (data.length != 0) {
                    data.forEach(function(account) {
                    $('#accountsTableBody').append(
                        `<tr>
                            <td class="px-6 py-4 whitespace-nowrap"><input type="radio" name="account" value="${account.id}"></td>
                            <td class="px-6 py-4 whitespace-nowrap">${account.is_valid}</td>
                            <td class="px-6 py-4 whitespace-nowrap">${account.username}</td>
                            <td class="px-6 py-4 whitespace-nowrap">${account.password || 'N/A'}</td>
                            <td class="px-6 py-4 whitespace-nowrap">${account.token || 'N/A'}</td>
                            <td class="px-6 py-4 whitespace-nowrap"><button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" onclick="validateToken('${platform}, ${account.token}')">Revalidar</button></td>
                            <td class="px-6 py-4 whitespace-nowrap"><button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="deleteAccount('${account.id}')">Delete</button></td>
                        </tr>`
                        );
                    $('#accountsTable').show();
                    $('#initializeAccountBtn').show();
                    });
                } else {
                    $('#accountsTable').hide();
                    $('#initializeAccountBtn').hide();
                }
            },
            error: function(error) {
                $('#accountDetails').show();
                console.error('Erro ao carregar contas:', error);
                $('#initializeAccountBtn').hide();
            }
        });
    });
});


document.getElementById("accountForm").addEventListener("submit", function(e) {
    e.preventDefault();
    saveAccount();
});


function convertUnixTimestampToDate(timestamp) {
    var date = new Date(timestamp * 1000);
    return date.toLocaleDateString("pt-BR");
}

function loadPlatforms() {
    fetch('/api/platforms')
        .then(response => response.json())
        .then(data => {
            const select = document.getElementById("platformSelect");
            select.options.length = 0;
            select.add(new Option("Selecione uma plataforma", ""));
            data.forEach(platformTuple => {
                let option = new Option(platformTuple[1], platformTuple[0]); // Ajustando para a estrutura de tuplas
                select.add(option);
            });
        })
        .catch(error => console.error('Erro ao carregar plataformas:', error));
}

function saveAccount() {
    const platformId = document.getElementById("platformSelect").value;
    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;
    const token = document.getElementById("token").value;
    
    fetch('/api/accounts', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ platform_id: platformId, username: username, password: password })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert("Conta salva com sucesso!");
        } else {
            alert("Falha ao salvar a conta.");
        }
    });
}

function initializeAccount() {
    const selectedAccountId = document.querySelector('input[name="account"]:checked').value;
    const platformId = document.getElementById("platformSelect").value;

    fetch('/api/select_account', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ account_id: selectedAccountId, platform_id: platformId })
    })
    .then(response => response.json())
    .then(data => {
        window.location.href = '/courses'; // Redireciona para /courses após inicializar a conta
    });
}

function deleteAccount(accountId) {
    // Chama o endpoint para deletar a conta
    $.ajax({
        url: '/api/accounts/delete/' + accountId,
        type: 'POST',
        success: function(response) {
            // Recarrega a lista de contas ou remove a linha da tabela
        }
    });
}

</script>
{% endblock %}
