{% extends 'layout.html' %}

{% block content %}
    <section>
        <h1>Termo de Aceitação e Responsabilidade do Usuário para o Uso do Software Katomart</h1>

Ao utilizar o software Katomart ("Software"), disponível em www.github.com/katomaro/katomart, declaro estar plenamente ciente e concordar com os seguintes termos:

<b>Conformidade com a Lei</b>: Comprometo-me a usar o Software em estrita conformidade com todas as leis, regulamentos e diretrizes aplicáveis vigentes no Brasil e em qualquer jurisdição aplicável ao uso do Software.

<b>Relações Contratuais</b>: Estou ciente de que o uso do Software pode violar termos e condições estabelecidos em contratos com terceiros, incluindo, mas não se limitando a, plataformas-alvo de conteúdo digital. Reconheço que sou o único responsável por qualquer violação contratual decorrente do uso do Software.

<b>Isenção de Responsabilidade</b>: Isento os desenvolvedores, contribuidores e qualquer pessoa associada ao desenvolvimento do Software de toda e qualquer responsabilidade relacionada ao uso que faço do mesmo. Entendo que o Software é de código aberto, podendo ser editado e modificado por qualquer pessoa, e que seu uso seguro depende exclusivamente da obtenção do Software através do link oficial mencionado acima.

<b>Riscos de Compartilhamento Ilegal</b>: Reconheço que o compartilhamento não autorizado de material protegido por direitos autorais constitui um crime sob a legislação brasileira, sujeito a penalidades que incluem detenção e multas, especialmente quando tal compartilhamento visa lucro DIRETO ou INDIRETO, configurando agravante que aumenta as penas aplicáveis.

<b>Combate à Pirataria</b>: Estou ciente de que, caso utilize o Software para fins de pirataria, uma equipe especializada poderá empregar técnicas proprietárias para rastrear a origem do material ilegalmente compartilhado. Em tal evento, os desenvolvedores do Software irão cooperar com as autoridades e investigadores. Além disso, os titulares dos direitos autorais serão notificados, e estarei sujeito a processos legais.

<b>Consequências Legais</b>: Aceito todas as consequências legais que possam advir do uso inadequado do Software, incluindo, mas não se limitando a, ações civis e criminais.

Ao utilizar o Software, confirmo minha total compreensão e concordância com os termos expressos neste acordo, comprometendo-me a respeitar todas as obrigações aqui descritas, em especial, quanto ao não compartilhamento do conteúdo obtido por meio do uso do Software, e quanto à minha responsabilidade de exclusão de material baixado proveniente de assinaturas temporárias quando estas expirarem.
    
            <hr/>
            <form action="/api/agreement" method="post">
                <input type="checkbox" id="agreement" name="agreement" value="True">
                <label for="agreement">Li e concordo com os termos acima</label>
                <br>
                <input type="submit" value="Aceitar">
            </form>
    </section>
    
{% endblock %}