{% extends 'layout.html' %}

<!-- Content -->
{% block content %}

{% if courses %}
<h1 class="text-3xl font-bold text-center mb-8">
    <i class="fa-solid fa-cart-arrow-down"></i> Cursos na Conta Inicializada
</h1>
    {% for product in courses %}
        <div class="border-b border-gray-200 py-4">
            <!-- Cabeçalho do Produto com Nome Centralizado e Checkbox -->
            <div class="flex justify-between items-center">
                <h2 class="text-lg font-semibold text-center flex-grow">{{ product.subdomain }} ({{ product.status}})</h2>
                <input type="checkbox" class="load-more mr-2" data-product-id="{{ product.id }}"> 
                <label for="checkbox">Selecionar para download</label>
            </div>

            <!-- Conteúdo Colapsável com Detalhes do Produto -->
            <div class="collapse hidden" id="collapse{{ product.id }}">
                <div class="mt-4">
                    <table class="table-auto w-full">
                        <!-- Cabeçalhos da Tabela -->
                        <thead>
                            <tr>
                                <th class="px-4 py-2">Campo</th>
                                <th class="px-4 py-2">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border px-4 py-2">ID do produto</td>
                                <td class="border px-4 py-2">{{ product.id }}</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2">Subdomínio do produto (área de membros)</td>
                                <td class="border px-4 py-2">{{ product.subdomain }}</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2">Status da Compra/Assinatura</td>
                                <td class="border px-4 py-2">{{ product.status }}</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2">ID da área de usuário</td>
                                <td class="border px-4 py-2">{{ product.user_area_id }}</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2">Seus cargos dentro do produto</td>
                                <td class="border px-4 py-2">{{ product.roles }}</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2">Domínio ASSUMIDO do produto</td>
                                <td class="border px-4 py-2">{{ product.domain }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Botão Carregar Mais Detalhes -->
                    <button class="btn btn-primary mt-4 items-center" onclick="loadMoreDetails(`{{ product.subdomain }}`, `{{ product.id}}` )">Selecionar conteúdo para baixar ao invés de baixar tudo.</button>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="flex justify-center mt-4">
        <button class="btn btn-primary mt-4" disabled>Iniciar Downloads</button>
    </div>

{% else %}
    <h1 class="text-3xl font-bold text-center mb-8">
        <i class="fa-solid fa-shield-cat"></i> Nenhum curso na conta inicializada (ou precisa atualizar o softwate)
    </h1>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
function loadMoreDetails(clubdomain, productId) {
    $.ajax({
        url: '/api/load_course_data',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({ club: clubdomain }),
        success: function(response) {
            // var detailsTable = $('#collapse' + productId + ' table tbody');
            response.modules.forEach(function(module) {
                var detailSectionId = `detailSection${productId}-${module.id}`;
                var detailButtonId = `detailButton${productId}-${module.id}`;
                var detailSection = `
                <div class="flex justify-between items-center">
                <input type="text" class="module-details text-lg font-semibold text-center flex-grow" value="${module.name}${module.locked ? "Bloqueado" : ""} (${module.locked ? "Conteúdo Extra" : "Conteúdo Principal"})"/>
                <input type="checkbox" class="load-more mr-2" data-module-id="${module.id}" data-module-code="${module.code}"> 
                <label for="checkbox">Selecionar TUDO para download</label>
                </div>
                <div class="collapse" id="collapse${productId}-${module.id}">
                <div class="mt-4">
                    <table class="table-auto w-full">
                        <!-- Cabeçalhos da Tabela -->
                        <thead>
                            <tr>
                                <th class="px-4 py-2">Nome Original</th>
                                <th class="px-4 py-2">Nome A Ser Utilizado</th>
                                <th class="px-4 py-2">Aula Bloqueada</th>
                                <th class="px-4 py-2">Baixar Aula?</th>
                            </tr>
                        </thead>
                        <tbody>
                            ${module.pages.map(page => `
                            <tr>
                                <td class="border px-4 py-2">${page.name}</td>
                                <td class="border px-4 py-2"><input type="text" id="lesson-${page.hash}" value="${page.name}"/></td>
                                <td class="border px-4 py-2">${page.locked ? "Sim" : "Não"}</td>
                                <td class="border px-4 py-2"><input type="checkbox" data-lesson-id="lesson-${page.hash}" checked"</td>
                            </tr>
                            `).join('')}
                        </tbody>
                    </table>
                `;

                $('#collapse' + productId).append(detailSection);
            });
        },
        error: function(xhr, status, error) {
            console.error("An error occurred: " + status + ", " + error);
        }
    });
}

$(document).ready(function(){
    $('.load-more').change(function(){
        const productId = $(this).data('product-id');
        $('#collapse'+productId).toggle(); // Simples toggle para exibir/esconder o colapso
    });
    $('.load-more').click(function() {
  $(this).next('.module-details').toggle(); // Supondo que '.module-details' seja a classe dos detalhes que você quer mostrar/ocultar
});
});
</script>
{% endblock %}