{% extends 'layout.html' %}

<!-- Content -->
{% block content %} {% if courses %}
<h1 class="text-xl font-bold text-center mb-8">
  <i class="fa-solid fa-cart-arrow-down"></i> Cursos na Conta Inicializada
</h1>

<div class="grid grid-cols-1 gap-4 max-w-6xl mx-auto">
  <div class="col-span-1">
    <label class="input input-bordered flex items-center gap-2">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input
        type="text"
        class="grow bg-base-100"
        placeholder="Pesquisar produto..."
        id="searchProductsInput"
      />
    </label>
  </div>

  {% for product in courses %}
  <div class="card card-bordered py-0 product-card">
    <!-- Cabeçalho do Produto com Nome Centralizado e Checkbox -->
    <div class="card-body">
      <h2 class="card-title">
        <span class="text-center w-full">
          <span class="product-name">{{ product.subdomain }}</span>
          <div class="badge badge-primary">{{ product.status }}</div>
        </span>
        <div class="tooltip tooltip-info" data-tip="Selecionar para Download">
          <input
            type="checkbox"
            class="checkbox checkbox-primary"
            data-product-id="{{ product.id }}"
          />
        </div>
      </h2>

      <!-- Conteúdo Colapsável com Detalhes do Produto -->
      <div class="collapse collapse-plus border rounded-box border-base-300 bg-base-200">
        <input type="checkbox" />
        <div class="collapse-title text-sm font-medium">Detalhes do Produto</div>
        <div class="collapse-content">
          <!-- Tabela com metadatas -->
          <table class="table w-full">
            <thead>
              <tr>
                <th>Campo</th>
                <th>Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ID do produto</td>
                <td>{{ product.id }}</td>
              </tr>
              <tr>
                <td>Subdomínio do produto (área de membros)</td>
                <td>{{ product.subdomain }}</td>
              </tr>
              <tr>
                <td>Status da Compra/Assinatura</td>
                <td>{{ product.status }}</td>
              </tr>
              <tr>
                <td>ID da Área de Usuário</td>
                <td>{{ product.user_area_id }}</td>
              </tr>
              <tr>
                <td>Seus cargos dentro do produto</td>
                <td>{{ product.roles }}</td>
              </tr>
              <tr>
                <td>Domínio ASSUMIDO do Produto</td>
                <td>{{ product.domain }}</td>
              </tr>
            </tbody>
          </table>

          <!-- Botão Carregar Mais Detalhes -->
          <div class="flex justify-end">
            <button
              class="btn btn-sm btn-secondary mt-2"
              onclick="loadMoreDetails(`{{ product.subdomain }}`, `{{ product.id }}`)"
              id="loadMoreDetailsBtn{{ product.id }}"
            >
              <i class="fas fa-hand-pointer"></i>
              Selecionar conteúdo para baixar
            </button>
          </div>

          <!-- Div com Mais detalhes -->
          <div
            class="my-2 border-accent border rounded-box p-0.5"
            id="collapse{{ product.id }}"
          ></div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="flex justify-center mt-4">
    <button class="btn btn-primary mt-4" disabled>Iniciar Downloads</button>
  </div>
</div>

{% else %}
<h1 class="text-3xl font-bold text-center mb-8">
  <i class="fa-solid fa-shield-cat"></i> Nenhum curso na conta inicializada (ou precisa
  atualizar o softwate)
</h1>
{% endif %}

<!--  -->
{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script>
  function disableLoadMoreBtn(productId) {
    var loadMoreDetailsBtn = document.querySelector(`#loadMoreDetailsBtn${productId}`)
    // loadMoreDetailsBtn.disabled = true // Desabilita o botão após o uso
    loadMoreDetailsBtn.classList.add("hidden")
  }

  function togglePages(moduleId) {
    var checkboxes = document.querySelectorAll(`input[data-module-id="${moduleId}"]`)

    var check = checkboxes[0].checked

    checkboxes.forEach((checkbox) => {
      if (checkbox === checkboxes[0]) return
      checkbox.checked = check
    })
  }

  function getRemainingDays(epoch) {
    return ((new Date().getTime() - epoch * 1000) / (24 * 60 * 60 * 1000)).toFixed(0)
  }

  function normalizeInput(inputElement) {
    inputElement.value = inputElement.value.replace(/[^a-zA-Z0-9-_ ]/g, "")
  }

  function searchPages(event, moduleId) {
    var searchTerm = event.target.value.toLowerCase()
    var rows = document.querySelectorAll(`tr[data-module-id="${moduleId}"]`)
    rows.forEach((row) => {
      var text = Array.from(row.querySelectorAll("td"), (td) => td.textContent)
        .join(" ")
        .toLowerCase()
      if (!row.innerHTML.toLowerCase().includes(searchTerm)) {
        row.classList.add("hidden")
      } else {
        row.classList.remove("hidden")
      }
    })
  }

  function loadMoreDetails(clubdomain, productId) {
    fetch("/api/load_course_data", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ club: clubdomain }),
    })
      .then((response) => response.json())
      .then((data) => {
        disableLoadMoreBtn(productId)

        data.modules.forEach((module) => {
          var detailSection = document.createElement("div")
          detailSection.className = "p-2 rounded-lg shadow mb-2 bg-base-300"

          detailSection.innerHTML = `
          <div class="flex items-center justify-between m-1">
            <div class="text-lg font-medium">
              ${module.name}
              ${
                module.locked
                  ? '<span class="badge badge-error">Bloqueado</span>'
                  : '<span class="badge badge-success">Disponível</span>'
              }
            </div>

            <label class="cursor-pointer label">
              <input
                type="checkbox"
                class="checkbox checkbox-primary checkbox-sm"
                data-module-id="${module.id}"
                onclick="togglePages('${module.id}')"
                ${module.locked ? "disabled" : ""}
                ${module.pages.every((page) => page.locked) ? "" : "checked"}
                >
              <span class="label-text ml-2">Selecionar para download</span>
            </label>
          </div>

          <input
            class="input input-bordered input-sm w-full"
            placeholder="Pesquisar"
            oninput="searchPages(event, '${module.id}')"
          />

          <div class="overflow-y-auto max-h-96">
            <table class="table table-zebra table-compact text-center w-full">
              <thead>
                <tr>
                  <th>Nome Original</th>
                  <th>Nome a ser Utilizado</th>
                  <th>Aula Bloqueada</th>
                  <th>Baixar Aula?</th>
                </tr>
              </thead>
              <tbody>
                ${module.pages
                  .map(
                    (page) => `
                      <tr data-module-id="${module.id}">
                        <td>${page.name}</td>
                        <td>
                          <input
                            type="text"
                            class="input input-bordered input-sm w-full"
                            value="${page.name}"
                            oninput="normalizeInput(this)"
                          />
                        </td>
                        <td>
                          ${
                            page.locked
                              ? `Libera em ${getRemainingDays(page.liberationStart)}`
                              : "Não"
                          }
                        </td>
                        <td>
                          <input
                            type="checkbox"
                            class="checkbox checkbox-sm"
                            data-module-id="${module.id}"
                            ${page.locked ? "disabled" : "checked"}
                          />
                      </td>
                    </tr>
                    `
                  )
                  .join("")}
              </tbody>
            </table>
          </div>
        `

          document.querySelector(`#collapse${productId}`).appendChild(detailSection)
        })
      })
      .catch((error) => {
        console.error("An error occurred: ", error)
      })
  }

  document.querySelectorAll(".load-more").forEach((item) => {
    item.addEventListener("change", function () {
      var productId = this.dataset.productId
      var collapseElement = document.querySelector(`#collapse${productId}`)
      collapseElement.classList.toggle("hidden") // Alternar visibilidade
    })
  })

  document
    .getElementById("searchProductsInput")
    .addEventListener("input", function (event) {
      var searchTerm = event.target.value.toLowerCase()

      var productCards = document.querySelectorAll(".product-card")
      productCards.forEach((card) => {
        var productName = card.querySelector(".product-name").textContent.toLowerCase()

        card.classList.toggle("hidden", !productName.includes(searchTerm))
      })
    })
</script>

{% endblock %}
