<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='images/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='images/favicon-16x16.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='images/apple-touch-icon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/daisyui-4.7.1.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gato.css') }}" />
    <script src="{{ url_for('static', filename='js/fa-c53a3e6f23.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tailwind-3.4.1.js') }}"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4.3.0/dist/vue-router.global.js"></script>

    <title>Katomart</title>
  </head>
  <body class="text-sm">
    <div id="app"></div>

    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
