<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='images/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='images/favicon-16x16.png') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='images/apple-touch-icon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/daisyui-4.7.1.css') }}"
    />
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/gato.css') }}"
  />
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fa-c53a3e6f23.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tailwind-3.4.1.js') }}"></script>
    <title>Katomart</title>
  </head>
  <body class="text-xs">
    <nav class="navbar py-2 bg-base-100 shadow-lg rounded-b-lg flex justify-around">
      <a id="agreementbtn" href="{{ url_for('agreement') }}" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-circle-exclamation"></i> Termos de Uso
      </a>
      <a id="homebtn" href="{{ url_for('home') }}" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-house" aria-hidden="true"></i> Home/Katomart!
      </a>
      <a id="settingsbtn" href="{{ url_for('settings') }}" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-sliders" aria-hidden="true"></i> Configurações
      </a>
      <a id="accountsbtn" href="{{ url_for('accounts') }}" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-users" aria-hidden="true"></i> Gerenciar Contas
      </a>
      
      {% if disable_download %}
        <a id="coursesbtn" href="#" class="btn btn-primary btn-sm pointer-events-none cursor-not-allowed opacity-50" aria-disabled="true">
          <i class="fa-solid fa-cloud-arrow-down" aria-hidden="true"></i> Gerenciar Cursos
        </a>
      {% else %}
          <a id="coursesbtn" href="{{ url_for('courses') }}" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-cloud-arrow-down" aria-hidden="true"></i> Gerenciar Cursos
          </a>
      {% endif %}
      
      <a id="logbtn" href="{{ url_for('log') }}" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-layer-group" aria-hidden="true"></i> LOGs
      </a>
      <a id="supportbtn" href="{{ url_for('support') }}" class="btn btn-primary btn-sm">
        <i class="fa-solid fa-paper-plane"></i> Suporte
      </a>
    </nav>
    <main id="content" class="container mx-auto p-4 mb-24">
      {% block content %}{% endblock %}
    </main>

    <footer
      class="fixed bottom-0 w-full p-2 bg-neutral text-neutral-content shadow-lg h-1/12"
    >
      <p class="text-center">
        <i class="fa-solid fa-code"></i> Desenvolvido por
        <a class="underline font-semibold" href="mailto:admin@katomaro.com">@Katomaro</a>
        e inúmeros colaboradores/usuários listados no
        <a
          href="https://github.com/katomaro/katomart"
          class="font-semibold text-blue-500"
        >
          <i class="fa-brands fa-github"></i> Repositório no Github
        </a>
      </p>
      <p class="text-center mt-2">
        <strong class="font-bold text-red-500">
          Nenhuma marca aqui citada faz parte do projeto, e tem seus direitos reservados.
        </strong>
        <br />
        O uso deste software cai dentro dos direitos de consumo individuais e os esforços
        são feitos para penalizar aqueles que infringirem direitos autorais.
      </p>
    </footer>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
    const coursesBtn = document.getElementById('coursesbtn');
    if (coursesBtn.classList.contains('disabled')) {
      coursesBtn.addEventListener('click', function(event) {
        event.preventDefault();
        });
      }
    });

      let currentLocation = window.location.pathname.split("/").pop()
      if (currentLocation == null || currentLocation == "") {
        currentLocation = "home"
      }
      let navbtn = document.getElementById(`${currentLocation}btn`)
      navbtn.classList.remove("btn-primary")
      navbtn.classList.add("btn-accent")
    </script>

    <script type="importmap">
      {
        "imports": {
          "vue": "{{ url_for("static", filename="js/vue.esm-browser.js") }}"
        }
      }
    </script>

    {% block scripts %}{% endblock %}
  </body>
</html>
