{% extends 'layout.html' %}

{% block content %}
    <section>
        <h1>Configurações YUU ESTILIZA ISSO</h1>
        <hr/>
        <form action="/api/settings" method="post">
            {% for key, value in settings.items() %}
            {% if key == 'download_path' %}
                <label for="{{ key }}">Caminho completo para salvar os cursos (Por padrão ele salva na pasta do script dentro de uma pasta chamada "Cursos"):</label>
                <input type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}">
                <br>
                <hr/>
              {% endif %}
              {% if key == 'default_user_agent' %}
                <label for="{{ key }}">Navegador simulado (Não alterar se não souber o que estiver fazendo):</label>
                <input type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}">
                <br>
                <hr/>
              {% endif %}
              {% if key == 'use_custom_ffmpeg' %}
                <label for="{{ key }}">Usar FFMPEG Não acessível pelo terminal?</label>
                <input type="checkbox" id="{{ key }}" name="{{ key }}" value="True" {% if value == 'True' %}checked{% endif %}>
                <br>
                <hr/>
            {% endif %}
            
            {% if key == 'custom_ffmpeg_path' %}
              {% if settings.use_custom_ffmpeg == 'True' %}
                <p>"SYSTEM" indica para usar o padrão do terminal, você não deveria ver esse campo se não alterou o anterior para verdadeiro.</p>
                <label for="{{ key }}">Caminho COMPLETO para o ffmpe.exe (incluir ffmpeg.exe no final):</label>
                <input type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}">
                <br>
                <hr/>
              {% endif %}
            {% endif %}

            {% if key == 'media_types' %}
            # Yuu, durante a estilização coloca aqueles hover que abre a descrição do tipo do media
                <p>Tipo de conteúdo a ser baixado</p>
                {% for media_type in settings.get('media_types') %}
                    <label for="{{ media_type }}"><b>Baixar {{ media_type[0] }}</b>? ({{ media_type[1] }})</label>
                    <input type="checkbox" id="{{ media_type[0] }}" name="{{ media_type[0] }}" value="True" {% if value[media_type[2]] %}checked{% endif %}>
                    <br>
                {% endfor %}
                <hr/>
            {% endif %}

            {% if key == 'drm_types' %}
            # Yuu, durante a estilização coloca aqueles hover que abre a descrição do tipo do DRM
                <p>DRM a ser baixado</p>
                {% for drm_type in settings.get('drm_types') %}
                    <label for="{{ drm_type }}"><b>Baixar {{ drm_type[0] }}</b>? ({{ drm_type[1] }})</label>
                    <input type="checkbox" id="{{ drm_type[0] }}" name="{{ drm_type[0] }}" value="True" {% if value[drm_type[2]] %}checked{% endif %}>
                    <br>
                {% endfor %}
                <hr/>
            {% endif %}
            
            {% endfor %}
            
            <input type="submit" value="Salvar Configurações (Isso é um botão que o Yuu vai estilizar)">
    </section>
{% endblock %}