{% extends 'layout.html' %}

{% block content %}
<section>
    <h1 class="text-3xl font-bold text-center mb-8">
        <i class="fa-solid fa-ticket-simple"></i> Suporte
    </h1>

    <div
    class="container max-w-6xl mx-auto bg-base-100 shadow-xl rounded-lg p-6 border-2 border-primary"
    >
    <p>
    Se você está tendo problemas com o programa, antes de mais nada é 
    <strong class="text-red-500">PRIMORDIAL</strong> que você verique a aba de 
    <a href="https://github.com/katomaro/katomart/issues" class="link-primary">
    SOLICITAÇÕES NO GITHUB!</a> NÃO ABRA PROBLEMAS <strong class="text-red-500">
    DUPLICADOS!</strong>
    </p>
    <br/>
    <p>
    Caso você não tenha encontrado um problema já existente, pedimos que você o 
    registre naquela aba (isto requer uma conta do Hithub, que é grátis).
    Também pedimos que você forneça o máximo de detalhes possíveis, e se possivel
    <a id="logbtn" href="{{ url_for('log') }}" class="link-primary">
    <i class="fa-solid fa-layer-group" aria-hidden="true"></i>
    Inclua LOGs gerados a partir do programa.</a><strong class="text-red-500">
    CASO o log gerado CONTENHA dados SENSÍVEIS, envie-o por e-mail para 
    <strong class="text-pink-500">github@katomaro.com</strong> EXCLUSIVAMENTE!
    e na descrição do problema, mencione que enviou o log por e-mail junto do 
    assunto que contém o arquivo de log.</strong> Este e-mail é acessível apenas
    pelo desenvolvedor principal do programa <a href="https://www.github.com/katomaro">
    <strong class="text-pink-500"></strong>@Katomaro</a>. Os logs serão armazenados até
    a resolução do problema e após isso, serão excluídos do servidor de e-mail e 
    arquivos locais do desenvolvedor (não serão compartilhadoscom terceiros).
    Porém, você pode optar por deletar o log antes disso enviando um email para 
    <strong class="text-pink-500">dsar@katomaro.com</strong> com o tema
    <strong class="text-pink-500">"DELETAR LOG"</strong> e no corpo do e-mail você
    de incluir:
    <ol>
    <li>-> Seu nome completo</li>
    <li>-> Seu CPF</li>
    <li>-> Nome do arquivo anexado no e-mail original</li>
    <li>-> Motivo pelo qual deseja deletar o log</li>
    </ol>
    Da mesma forma, você pode solicitar o seu próprio log também por este e-mail.
    utilizando o assunto <strong class="text-pink-500">"SOLICITAR LOG"</strong>,
    o corpo do e-mail DEVE conter os itens citados anteriormente.
    As solicitações serão atendidas em até <Strong class="text-red-500"> 
    7 dias úteis</strong>, e um e-mail de confirmação será enviado para você.
    </p>
    <br/>
    <p>
    Caso você não consiga acessar o Github, você pode pedir suporte 
    <strong class="text-red-500">COMUNITÁRIO</strong> no grupo do Telegram:
    <a href="https://t.me/gatosdodois" class="link-primary">
    <strong class="text-pink-500">https://t.me/gatosdodois</strong></a>.
    <strong class="text-red-500">NÃO ENVIE INFORMAÇÕES SENSÍVEIS NESTE GRUPO!</strong>
    Além disso, atente-se as regras do grupo que ficam nas mensagens fixadas, 
    denotadas como <strong class="text-red-500">"Constituição Gatarial"</strong>.
    Lembre-se: Ao participar do grupo para falar sobre o programa, você continua sujeito
    aos termos que você concordou nos <a href="{{ url_for('agreement') }}" class="link-primary">
    Termos de Uso</a>.
    </p>
    <br/>
    <p>
    Por fim, lembre-se que ninguém é obrigado a te ajudar, o programa é de código livre,
    Se os colaboradores foram capazes de executar todo o atrabalho, você também pode 
    se esforçar um pouco, ou você pode contratar um desenvolvedor para te ajudar.
    <strong class="text-red-500">EXTREMAMENTE IMPORTANTE</strong> que você se atente
    à licença do programa, que está disponível no link
    <a href="https://github.com/katomaro/katomart/blob/master/LICENSE" class="link-primary">
    <strong class="text-pink-500">LICENÇA</strong></a>. Enquanto a licença é bem permissiva,
    <strong class="text-red-500">TODA E QUALQUER ALTERAÇÃO deve referenciar o 
    repositório original</strong> utilizar a mesma licença, o que implica que ele DEVE ser
    e ser disponibilizada publicamente além de ser de código aberto e creditando o repositório
    base.
    </p>
    <br/>
    <p>
    Além disso, é claro que todo o <strong class="text-pink-500">desenvolvimento 
    tem um custo</strong>, tanto para procedimentos legais (que foram muitos para este
    projeto e ainda estão correndo) quanto para obtenção de acessos legais, a próxima 
    seção é dedicada à creditar quem financiou o projeto. Agradeça-os principalmente, 
    além dos desenvolvedores por suas INÚMERAS horas de vida gastas, ameaças judiciais
    enfrantadas, além de takendowns/dmcas, etc. Este repositório NÃO é brincadeira.
    </p>
    <hr class="my-4"/>
    <p>
    <strong class="text-red-500">OS DESENVOLVEDORES RESERVAM-SE NO DIREITO DE TOMAR AÇÃO
    LEGAL CONTRA QUEM INFRINGIR A LICENÇA DO PROGRAMA! Se você é da turma que publica este
    projeto no 99Freelas e similares, saiba que você está infringindo a licença do programa,
    e nós somos notificados sempre que o repositório de código é transitado por estas plataformas
    de maneira automática. Grupos terceiros disponibilizando o Software sem a devida credibilidade
    também estão sujeitos a ação legal, segundo a licença mencionada. Se o grupo infringir direitos
    autorais, o grupo será notificado e o grupo terá 7 dias úteis para retirar o código do ar,
    e ao mesmo tempo os desenvolvedores formalizaram denúncia aos detentores de copyright da infração,
    e/ou provedores de serviço (serviços de hospedagem, sites, etc). Se o grupo não retirar o código
    do ar, os desenvolvedores tomarão ações legais contra o grupo, e o grupo será responsável por
    todos os custos legais e danos morais e materiais que a ação legal causar aos desenvolvedores.
    <br/>
    <strong class="text-pink-500">NÃO COMPACTUAMOS COM PIRATARIA, É CRIME!</strong>
    </strong>
    </p>
    <hr class="my-4"/>
    </div>
</section>
<br/>
<section>
    <h1 class="text-3xl font-bold text-center mb-8">
        <i class="fa-solid fa-code"></i> Desenvolvedores responsáveis pelo projeto
    </h1>
    <div
    class="container max-w-6xl mx-auto bg-base-100 shadow-xl rounded-lg p-6 border-2 border-primary"
    >
    <strong class="text-pink-500">AOS DESENVOLVEDORES PASSADOS:</strong> por favor 
    enviem uma PR para o repositório adicionando o seu card e descrevendo como você contribuiu
    para o projeto. Siga o modelo abaixo.
    </p>
    <br/>
    <div class="bg-gray-800 max-w-sm rounded overflow-hidden shadow-lg text-white">
        <div class="px-6 py-4">
          <div class="flex justify-center">
            <img class="rounded-full h-32 w-32 object-cover" src="https://avatars.githubusercontent.com/u/53769456?v=4" 
            alt="Foto do Github do Katomaro">
          </div>
          <div class="font-bold text-xl mb-2 text-center mt-4"><strong class="text-pink-500"></strong>@Katomaro</div>
          <p class="text-gray-400 text-base text-center">
            Responsabilidade no Projeto: <span class="text-gray-200">Idealizador e 
            responsável principal pelo projeto, que teve início em julho de 2021
            como um projeto bobinho que operava apenas para a Hotmart como uma aplicação CLI que 
            era baseada em Selenium. As plataformas adicionais, cada uma tinha um script 
            próprio. De certa forma, responsável por popularizar webscraping de cursos 
            no Brasil e expor que as plataformas não protegem o conteúdo como seu marketing diz.
            Busco fazer com que elas cumpram com suas promessas. É extremamente fácil criar
            uma API rest usando um tema da Theme Forest para falar que você fez algo inovador
            e predar sobre usuários leigos. Este projeto visa expor isso para resguardar
            tanto os direitos de CONSUMO do consumidor quanto os direitos de proteção
            de autorais de materiais, vez que muita dessas plataformas NÃO APLICAM
            PROTEÇÃO ALGUMA para direitos autorais. Ah, também TEA + TDAH e portador 
            de ceratocone avançado ;), se eu posso, você também pode.</span>
            E eu também dou aulas personalizadas e particulares pré agendadas (por você)
            no seu ritmo.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-200 mr-2 mb-2">
            <i class="fas fa-envelope"></i> Email: github@katomaro.com
          </span>
          <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-200 mr-2 mb-2">
            <i class="fas fa-globe"></i> Website: em construção
          </span>
          <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-200">
            <i class="fab fa-github"></i> <a href="https://www.github.com/katomaro" class="text-pink-500">Perfil no Github</a>
          </span>
          <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-200">
            <i class="fa-brands fa-telegram"></i> <a href="https://t.me/katomaro" class="text-pink-500">Telegram: @katomaro</a>
          </span>
        </div>
    <div>
          Formas de DOAÇÃO (não contabilizadas para o Katomart exceto se especificado):
        <!-- Formas de contribuição financeira -->
        <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-200 mr-2 mb-2">
            <a href="http://link.mercadopago.com.br/katomaro" class="flex items-center">
                <i class="fa-solid fa-credit-card"></i> Doação pelo Mercado Pago
            </a>
        </span>
        <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-200">
            <a href="https://www.paypal.com/donate/?hosted_button_id=SEH5R882DEF3E" class="flex items-center">
                <i class="fab fa-paypal mr-2"></i> Doação pelo Paypal
            </a>
        </span>
        <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-200 mr-2 mb-2">
            <a href="https://donate.stripe.com/14kfZS9MPfCAdBmbII" class="flex items-center">
                <i class="fa-solid fa-sack-dollar"></i></i> Stripe (cartão e outros métodos de pagamento)
            </a>
        </span>
        <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-200">
            <a href="https://picpay.me/katomaro" class="flex items-center">
                <i class="fa-brands fa-pix"></i> PIX(Nubank, preferível) admin@katomaro.com
            </a>
        </span>
        <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-200">
            <a href="https://picpay.me/katomaro" class="flex items-center">
                <i class="fa-solid fa-sack-dollar"></i></i> Picpay
            </a>
        </span>
        <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-200">
            <a href="#" class="flex items-center">
                <i class="fa-brands fa-pix"></i> Pix(Picpay): pix@katomaro.com
            </a>
        </span>
        <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-200 mr-2 mb-2">
            <a href="https://ko-fi.com/katomaro" class="flex items-center">
                <i class="fa-solid fa-mug-hot"></i> Kofi
            </a>
        </span>
        <span class="inline-block bg-gray-700 rounded-full px-3 py-1 text-sm font-semibold text-gray-200 mr-2 mb-2">
            <a href="https://www.binance.com" class="flex items-center">
                <i class="fa-brands fa-bitcoin"></i> ID para transferências gerais (crypto/fiat): <span class="text-pink-500">220875280</span>
            </a>
        </span>
        </div>
      </div>
      
        
    </div>
    
</section>
<br/>
<section>
    <h1 class="text-3xl font-bold text-center mb-8">
        <i class="fa-solid fa-sack-dollar"></i> caixinha do Katomart: 
        <span class="text-red-500">R$ -1900,00</span>
    </h1>
</section>
<br/>
<section>
    <h1 class="text-3xl font-bold text-center mb-8">
        <i class="fa-solid fa-money-bill-transfer"></i> Transações Financeiras
    </h1>
    <div
    class="container max-w-6xl mx-auto bg-base-100 shadow-xl rounded-lg p-6 border-2 border-primary"
    >
    <p>
    <strong class="text-pink-500">ESTA SEÇÃO AINDA ESTÁ EM DESENVOLVIMENTO</strong>
    os calcúlos de caixa serão implementados aqui posteriormente conforme os comprovantes
    dos últimos 4 anos forem localizados. Eles não contabilizam as horas profissionais
    dos desenvolvedores.
    <br/>
    </div>
</section>
{% endblock %}